streamlit
streamlit-runtime-scriptrunner
streamlit-feedback
chromadb
llama-index-vector-stores-chroma
llama-index-embeddings-openai
llama-index-core 
llama-index-llms-openai
llmslama-index-core-memory
sqlalchemy-sql